# kotlin
.gradle
kotlin/.idea
build

# some input formats
*.txt
inputs/
outputs/
*.gml
*.graphml

# python
__pycache__/
*.py[cod]
.venv
uv.lock

## Distribution / packaging
.Python
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# local env
.envrc
.dir-locals.el
pyrightconfig.json

# temporary files
*.#
TAGS
*.-undo-tree
.ruff_cache/
*.html

# artifacts
*.png
*.zip
a.out
aoc
